<a href="https://colab.research.google.com/github/sky16k/pyda/blob/main/PYDA10_pandas_basics_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Домашнее задание

## осн. текст

In [1]:
'''
Преподаватель: Константин Башевой
Домашнее задание

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni
'''

'\nПреподаватель: Константин Башевой\nДомашнее задание\n\nЗадание 1\nСкачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.\n\nЗадание 2\nПо данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.\n\nЗадание 3\nВыберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.\nПримеры страниц (необязательно брать именно эти):\nhttps://fortrader.org/quotes\nhttps://www.finanz.ru/valyuty/v-realnom-vremeni\n'

## Задание 1

###текст

In [ ]:
'''
В первом задании как вариант вместо цепочки 
.groupby('movieId').count().sort_values(by='rating', ascending=False) 
можно использовать более короткую версию с методом value_counts:
df[df.rating == 5].movieId.value_counts()

'''

In [2]:
'''

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ 
датасет любого размера. Определите, какому фильму 
было выставлено больше всего оценок 5.0.

'''

'\n\nЗадание 1\nСкачайте с сайта https://grouplens.org/datasets/movielens/ \nдатасет любого размера. Определите, какому фильму \nбыло выставлено больше всего оценок 5.0.\n\n'

###программа

In [3]:
'''
https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
/content/ratings.csv
/content/movies.csv
'''

'\nhttps://files.grouplens.org/datasets/movielens/ml-latest-small.zip\n/content/ratings.csv\n/content/movies.csv\n'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
# df['1'] = 1
# df

In [4]:
# print( df [df.rating == 5.0].groupby('movieId') )

In [8]:
movie_best_id = ( df[df.rating == 5] # выбрать только строки где рейтинг == 5
                 .movieId            # взять колонку ИД фильма
                 .value_counts()     # посчитать количество уникальных элементов в колонке и составить серию от наибольшего
                 .index[0]           # взять индекс первого элемента (тк на месте индекса значения из колонки, по которой считали - получим ИД фильма с большим количеством)
                 )

In [9]:
# movie_best_id =( df [ df.rating == 5.0] # выбрать только строки где рейтинг == 5
#                    .groupby('movieId') # сделать группировку по фильмам
#                    .count()            # посчитать количество элементов в группах
#                    .sort_values(by='rating',       # отсортировать по колонке "рейтинг" (не важно по какой именно, просто выбрать одну)
#                                 ascending=False    # сортировка в обратном порядке
#                                 )  
#                    .index[0]           # взять индекс первого элемента (тк на месте индекса значения колоки, по которой группировали - получим ИД фильма)
#                 )

In [10]:
print(f"Больше всего оценок 5.0 было выставлено фильму \"{movies.at[movie_best_id,'title']}\"", ) # смотрим название в справочнике фильмов по его ИД

Больше всего оценок 5.0 было выставлено фильму "I Love Trouble (1994)"

In [8]:
# movie_rated = df [ df.rating == 5.0] [['movieId','1']].groupby('movieId').sum()
# # print(movie_rated)#['1']#.idxmax
# # print( movie_rated.idxmax() )
# # print( movie_rated.loc[318,'1'] )
# movie_best_id = movie_rated.sort_values(by='1', ascending=False).index[0]
# # print(movie_best_id)
# # movies.at[movie_best_id,'title']
# print(f"Больше всего оценок 5.0 было выставлено фильму \"{movies.at[movie_best_id,'title']}\"", )

## Задание 2

###текст

In [ ]:
'''
В задании 2 можно немного сократить код, используя для дат 
метод between: 
df.year.between(2005, 2010)
'''

In [9]:
'''

Задание 2
По данным файла power.csv посчитайте суммарное потребление 
стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 
за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

'''

'\n\nЗадание 2\nПо данным файла power.csv посчитайте суммарное потребление \nстран Прибалтики (Латвия, Литва и Эстония) \nкатегорий 4, 12 и 21 \nза период с 2005 по 2010 года. \nНе учитывайте в расчетах отрицательные значения quantity.\n\n'

###программа

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('power.csv')
# df

In [12]:
# sorted( df['country'].unique() )

In [13]:
# df[ df.country.isin(['Estonia','Lithuania','Latvia']) ].sort_values(by='year')[ 2005<=df.year ]
summa = df[ df.country.isin(['Estonia','Latvia','Lithuania']) # фильтр по столбцу "страна"
  & (df.quantity>0)  # отсечение отрицательных
  & (2005<=df.year)  # по году
  & (df.year<=2010 ) 
  & df.category.isin([4, 12, 21]) # по категориям
  ] ['quantity'].sum() # взять столбец "кол-во" и ".сложить()"

In [14]:
print(f"Cуммарное потребление равно: {summa}")

Cуммарное потребление равно: 240580.0

In [15]:
# # df[ df.country.isin(['Estonia','Lithuania','Latvia']) ].sort_values(by='year')[ 2005<=df.year ]
# df_filtered = df[ df.country.isin(['Estonia','Latvia','Lithuania']) # фильтр по столбцу "страна"
#   & (df.quantity>0)  # отсечение отрицательных
#   & (2005<=df.year)  # по году
#   & (df.year<=2010 ) 
#   & df.category.isin([4, 12, 21]) # по категориям
#   ] 
# df_filtered['cumsum'] = df_filtered['quantity'].cumsum()
# df_filtered

## Задание 3

###текст

In [16]:
'''

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

'''

'\n\nЗадание 3\nВыберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.\nПримеры страниц (необязательно брать именно эти):\nhttps://fortrader.org/quotes\nhttps://www.finanz.ru/valyuty/v-realnom-vremeni\n\n'

###программа

In [17]:
import pandas as pd

In [18]:
df = ( pd.read_html('https://cbr.ru/currency_base/daily/', # найти на странице все таблицы и создать список DF из этих таблиц
                    header=0                               # в качестве заголовков взять строку 0
                    )
                  [0] # взять первый элемент списка 
      )
# len( pd.read_html('https://cbr.ru/currency_base/daily/', header=0) )
print( type(df) ) # показываем, что это действительно DF
df # показываем результат

<class 'pandas.core.frame.DataFrame'>

,Цифр. код,Букв. код,Единиц,Валюта,Курс
0,36,AUD,1,Австралийский доллар,434717
1,944,AZN,1,Азербайджанский манат,361028
2,51,AMD,100,Армянских драмов,151099
3,933,BYN,1,Белорусский рубль,237124
4,975,BGN,1,Болгарский лев,322753
5,986,BRL,1,Бразильский реал,120295
6,348,HUF,100,Венгерских форинтов,157666
7,410,KRW,1000,Вон Республики Корея,471243
8,344,HKD,10,Гонконгских долларов,784542
9,208,DKK,10,Датских крон,848502
10,840,USD,1,Доллар США,613747
11,978,EUR,1,Евро,625056
12,356,INR,100,Индийских рупий,771247
13,398,KZT,100,Казахстанских тенге,128936
14,124,CAD,1,Канадский доллар,480128
15,417,KGS,100,Киргизских сомов,745065
16,156,CNY,10,Китайских юаней,904515
17,498,MDL,10,Молдавских леев,318424
18,934,TMT,1,Новый туркменский манат,175356
19,578,NOK,10,Норвежских крон,633637
20,985,PLN,1,Польский злотый,133522
21,946,RON,1,Румынский лей,129346
22,960,XDR,1,СДР (специальные права заимствования),812939
23,702,SGD,1,Сингапурский доллар,447207
24,972,TJS,10,Таджикских сомони,598375
25,949,TRY,10,Турецких лир,341867
26,860,UZS,10000,Узбекских сумов,562502
27,980,UAH,10,Украинских гривен,166783
28,826,GBP,1,Фунт стерлингов Соединенного королевства,743739
29,203,CZK,10,Чешских крон,258899
30,752,SEK,10,Шведских крон,598941
31,756,CHF,1,Швейцарский франк,648918
32,710,ZAR,10,Южноафриканских рэндов,375985
33,392,JPY,100,Японских иен,461464

In [19]:
z

NameError: ignored

# Теория: Основы pandas

## импорт, чтение, ознакомление с данными

In [ ]:
import pandas as pd

Пример забора данных с сайтов

In [ ]:
#может подключатся к базам данных, например к MySQL

pip install pymysql

import pymysql

#тут код создания подключения
<connection>

In [ ]:
#тут обращение к базе
pd.read_sql('select * from db.table;', connection)

In [ ]:
pd.read_html('https://cbr.ru/currency_base/daily/')[0]

In [ ]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [ ]:
df

Импорт данных из файла

In [ ]:
csv - comma separated values

In [ ]:
data = pd.read_csv('power.csv')
data.head()

In [ ]:
data.head(30)

In [ ]:
data.tail(10)

In [ ]:
type(data)

In [ ]:
data.

In [ ]:
# если надо указать свои заголовки и разделитель
# data = pd.read_csv('power.csv', names = ['страна', 'год', 'количество', 'категория'], sep = '\t', header=0)
# data.head()

In [ ]:
?pd.read_csv

In [ ]:
# количество строк в датафрейме

len(data)

In [ ]:
# или так

data.shape

Простые вычисления для нового столбца

In [ ]:
data['year_plus_one'] = data['year'] + 1
data.head()

### Основные сведения о датафрейме

In [ ]:
data.info()

In [ ]:
2**64

In [ ]:
None

In [ ]:
# немного статистики

data.describe()

### Отдельный столбец (тип Series)

In [ ]:
data['year plus one'].head()

In [ ]:
# или так

data.year.head()

In [ ]:
type(data['year'])

In [ ]:
data.head()

In [ ]:
# уникальные значения в столбце

data['category'].unique()

In [ ]:
set([1, 1, 1, 2])

In [ ]:
len(data['category'].unique())

In [ ]:
data['category'].nunique()

In [ ]:
data['category'].head()

In [ ]:
# распределение количества строк по значениям столбца

data['category'].value_counts().head(10)

In [ ]:
data['category'].value_counts(normalize=True).head()

## Фильтры

In [ ]:
data = pd.read_csv('power.csv')
data.head()

In [ ]:
# выбрать несколько столбцов

country_stats = data.filter(items = ['country', 'quantity'])
country_stats.head()

In [ ]:
data['country']

In [ ]:
# или так

data[['country', 'quantity']].head()

### Отфильтруем строки с потреблением выше среднего

In [ ]:
average_level = data['quantity'].mean()
average_level

In [ ]:
'quantity > {}'.format(average_level)

In [ ]:
f'quantity > {average_level}'

In [ ]:
# строки с потреблением больше среднего

average_level = data['quantity'].mean()
country_stats.query('quantity > {}'.format(average_level)).head()

In [ ]:
if data.quantity > average_level:

In [ ]:
# самый популярный способ

data[ data.quantity > average_level ].head()

### Как определить используемый вариант названия страны?

In [ ]:
data['country'].unique()

In [ ]:
if 'rus' in 'Russia Federation':

In [ ]:
# найдем как называется Россия и Беларусь в этом датафрейме
# фильтр на подстроку - смотрим все страны, содержащие в названии 'us'

data[ data['country'].str.contains('us', case=False) ]['country'].unique()

In [ ]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data[ (data['country']=='Russian Federation') | (data['country']=='Belarus') ]

filtered_countries.head()

In [ ]:
filtered_countries['country'].unique()

In [ ]:
# фильтры на номер строки

data.loc[1000:1005]

## Сортировка

In [ ]:
# Сортировка по столбцу

data.sort_values(by='quantity').head()

In [ ]:
# сортировка по убыванию

data.sort_values('quantity', ascending=False).head()

In [ ]:
# сортировка по нескольким столбцам

data.sort_values(by=['year', 'country', 'quantity'], ascending=[False, True, False]).head(50)

## Параметр inplace

In [ ]:
data.head()

In [ ]:
data = data.sort_values(['country', 'year'], ascending=[False, True])

In [ ]:
def calculation(data, inplace=True):
    data.sort_values(['country', 'year'], ascending=[False, True], inplace=inplace)

In [ ]:
data.sort_values(['country', 'year'], ascending=[False, True], inplace=True)

In [ ]:
data = data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False])

# чтобы сократить это выражение используем inplace:
data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False], inplace=True)