<a href="https://colab.research.google.com/github/sky16k/pyda/blob/main/PYDAlab_0620.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [ ]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [ ]:
len(string_01.replace(' ', ''))

225

2. Посчитайте, сколько в строке слов.

In [ ]:
import re

len(re.findall(r'\w+', string_01))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [ ]:
char = 'w'
# print(string_01.lower())
print(', '.join(re.findall( fr'(\b{char}\w*)', string_01.lower() )) )

written, winners, when, winner, writes, which, what

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [ ]:
import random
# s=''
# while len(s) != 6 :
s = str(int(random.random()//0.000001))
# print(s)
if len(s)<6 : s += '0'
if '3' in s : print(s)
else :
    # print(s)
    # i = int(random.random()*6)
    # print(i)
    # print(s[i])
    print(s.replace(s[int(random.random()*6)], '3'))

22117
331170

#### Задача 3

Дан список:

In [ ]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [ ]:
summa = 0
for num in list_01 :
    if ( 10 < num < 100
        or 
        200 < num < 500
        ) :
        summa += num
        # print(num, summa)
print(summa)

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [ ]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [ ]:
students_dic = {}
for stud in students :
    students_dic[stud[0]] = stud[1:]
students_dic

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [ ]:
# i = '4004'
# new_group = 'qwerty'

def group_change(studs, id, new_group) :
    studs[id][-1] = new_group

group_change(students_dic, '0333', 'python')

students_dic

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'python'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'qwerty'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [ ]:
# group = 'БСТ161'

def group_list(studs, group) :
    for stud in studs :
        # print(students_dic[stud])
        if studs[stud][-1] == group :
            # print('!')
            print(' '.join(studs[stud][0:3]))

group_list(students_dic, 'python')

Глаголева Анастасия Николаевна

#### Задача 5

Дана матрица:

In [ ]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [ ]:
summa = 0

for row in matrix :
    # print(row)
    summa += sum(row)

summa

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [ ]:
# print(matrix[0])
n = len(matrix[0])

summa = [0 for i in range(n)]
# print(summa)
for row in matrix :
    for i in range(n) :
        summa[i] += row[i]
        pass

max(summa)

22