<a href="https://colab.research.google.com/github/sky16k/pyda/blob/main/PYDA12_pandas_optim_pivot_join_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Домашнее задание

## осн. текст

In [2]:
'''
Преподаватель: Константин Башевой
Домашнее задание

Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений
Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном
Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.
Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).
Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.
'''

'\nПреподаватель: Константин Башевой\nДомашнее задание\n\nЗадание 1\n\nДля датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:\n\nесли источник traffic_source равен yandex или google, то в source_type ставится organic\nдля источников paid и email из России - ставим ad\nдля источников paid и email не из России - ставим other\nвсе остальные варианты берем из traffic_source без изменений\nЗадание 2\n\nВ файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:\n\nПрочитайте содержимое файла с датафрейм\nОтфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном\nЗадание 3\n\nИспользуйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.\nЗадание 4\n\nДана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).\nНеобходимо сформировать две таблицы:\nтаблицу с тремя типами выручки для каждого client_id без указания адреса клиента\nаналогичную таблицу по типам выручки с указанием адреса клиента\nОбратите внимание, что в процессе объединения таблиц данные не должны теряться.\n'

## Задание 1

###текст

In [3]:
# комментарий эксперта
'''

'''

'\n\n'

In [4]:
'''
Задание 1

Для датафрейма log из материалов занятия 
создайте столбец source_type по следующим правилам:

если источник 
traffic_source равен yandex или google, 
то в source_type ставится organic

для источников paid и email из России - ставим ad

для источников paid и email не из России - ставим other

все остальные варианты берем из traffic_source без изменений

'''

'\nЗадание 1\n\nДля датафрейма log из материалов занятия \nсоздайте столбец source_type по следующим правилам:\n\nесли источник \ntraffic_source равен yandex или google, \nто в source_type ставится organic\n\nдля источников paid и email из России - ставим ad\n\nдля источников paid и email не из России - ставим other\n\nвсе остальные варианты берем из traffic_source без изменений\n\n'

###программа

In [5]:
import pandas as pd
import re

In [6]:
# log = pd.read_csv('/content/drive/MyDrive/скул/DS/data/visit_log_2.csv', sep=';')
# log

In [44]:
%%time

with open('/content/drive/MyDrive/скул/DS/data/visit_log_2.csv') as f:
    v = open('/content/drive/MyDrive/скул/DS/data/visit_out.csv', 'w')
    line = f.readline()
    


    '''? кстати, почему не работает следующий метод: '''
    # line.replace(r'\n', r';source_type\n')



    line = line[:-1] + ';source_type\n'
    # print(line)
    v.write(line)

    for line in f :
        if    re.search(r'(yandex$)|(google$)', line) : line = line[:-1] + ';organic\n'       # line.replace('\n', ';organic\n')
        elif  re.search(r'(Russia).*(paid$)|(email$)', line) : line = line[:-1] + ';ad\n'     # line.replace('\n', ';ad\n')
        elif  re.search(          r'(paid$)|(email$)', line) : line = line[:-1] + ';other\n'  # line.replace('\n', ';other\n')
        else :  line = line[:-1] + re.search((r'(;\w+$)'), line).group(1) + '\n'
        
        # print(line)
        v.write(line)
    
    v.close()

log = pd.read_csv('/content/drive/MyDrive/скул/DS/data/visit_out.csv', sep=';')

CPU times: user 215 ms, sys: 7.93 ms, total: 223 ms
Wall time: 247 ms

In [45]:

log

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

In [8]:
import numpy as np
msk = np.logical_not( log.source_type.str.contains(r'(organic)|(ad)|(other)|(direct)') ) # |(direct)
log.loc[ msk ]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

Empty DataFrame
Columns: [timestamp, visit_id, url, region, user_id, traffic_source, source_type]
Index: []

In [46]:
%%time

# читаем файл
log = pd.read_csv('/content/drive/MyDrive/скул/DS/data/visit_log_2.csv', sep=';')

# копируем столбец источников
log['source_type'] = log.traffic_source
# print(log)

# обрабатываем поисковики
log.loc[log.traffic_source.str.contains('(yandex)|(google)'),'source_type'] = 'organic' 
# если источник содержит yandex или google - в тип написать organic

# обрабатываем рекламу в России
log.loc[lambda row:                                                   # найти строки по максе из формулы:
        pd.concat([                                                   # 1. сложить маски:
                   row.traffic_source.str.contains('(paid)|(email)'), # 1.a если источник содержит paid или email 
                   row.region == 'Russia'                             # 1.b если регион - Россия
                   ], axis = 1                                        # сложить по горизонтали
                  ).all(axis=1)                                       # 2. объединить маски по горизонтали
        , 'source_type'] = 'ad'                                      # в тип написать ad

# обрабатываем рекламу из зарубежья
# log.loc[(log.traffic_source == 'paid' | log.traffic_source == 'email') & log.region != 'Russia' , 'traffic_type'] = 'other'
log.loc[lambda row:                                                   # найти строки по максе из формулы:
        pd.concat([                                                   # 1. сложить маски:
                   row.traffic_source.str.contains('(paid)|(email)'), # 1.a если источник содержит paid или email 
                   row.region != 'Russia'                             # 1.b если регион - не Россия
                   ], axis = 1                                        # сложить по горизонтали
                  ).all(axis=1)                                       # 2. объединить маски по горизонтали
        , 'source_type'] = 'other'                                      # в тип написать other

CPU times: user 70.5 ms, sys: 6.07 ms, total: 76.5 ms
Wall time: 84.2 ms

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [47]:

log#.region == 'Russia'

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

In [10]:
pd.concat([log.traffic_source.str.contains('(paid)|(email)') ,
                   log.region == 'Russia'
                   ]
                  , axis = 1
                  ).all(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

0        False
1        False
2        False
3        False
4        False
         ...
18933    False
18934     True
18935    False
18936     True
18937     True
Length: 18938, dtype: bool

## Задание 2

###текст

In [11]:
# комментарий эксперта
'''

'''

'\n\n'

In [12]:
'''
Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. 
Вам необходимо отфильтровать его по адресам страниц 
с текстами новостей. 
Известно, что шаблон страницы новостей 
имеет внутри url следующую конструкцию: 
/, затем 8 цифр, затем дефис. 

Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, 
используя метод str.contains и регулярное выражение 
в соответствии с заданным шаблоном

'''

'\nЗадание 2\n\nВ файле URLs.txt содержатся url страниц новостного сайта. \nВам необходимо отфильтровать его по адресам страниц \nс текстами новостей. \nИзвестно, что шаблон страницы новостей \nимеет внутри url следующую конструкцию: \n/, затем 8 цифр, затем дефис. \n\nВыполните следующие действия:\n\nПрочитайте содержимое файла с датафрейм\nОтфильтруйте страницы с текстом новостей, \nиспользуя метод str.contains и регулярное выражение \nв соответствии с заданным шаблоном\n\n'

###программа

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('/content/drive/MyDrive/скул/DS/data/URLs.txt')
df

                                                  url
0                                             /world/
1                                            /latest/
2                                       /?updated=top
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[93 rows x 1 columns]

In [15]:
df.loc[df.url.str.contains(r'/\d{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

## Задание 3

###текст

In [16]:
# комментарий эксперта
'''

'''

'\n\n'

In [17]:
'''
Задание 3

Используйте файл с оценками фильмов 
ml-latest-small/ratings.csv. 

Посчитайте среднее время жизни пользователей, 
которые выставили более 100 оценок. 

Под временем жизни понимается разница между 
максимальным и минимальным значением 
столбца timestamp для данного значения userId.

'''

'\nЗадание 3\n\nИспользуйте файл с оценками фильмов \nml-latest-small/ratings.csv. \n\nПосчитайте среднее время жизни пользователей, \nкоторые выставили более 100 оценок. \n\nПод временем жизни понимается разница между \nмаксимальным и минимальным значением \nстолбца timestamp для данного значения userId.\n\n'

###программа

In [18]:
import pandas as pd
import numpy as np

In [19]:
ratings = pd.read_csv('/content/drive/MyDrive/скул/DS/data/ml-latest-small/ratings.csv')
# ratings

In [20]:
# user_activity = ratings.groupby('userId').count()
# user_activity[user_activity.rating>100]

In [21]:
rating_pivot = ratings.pivot_table(
                index='userId',
                # values = 'timestamp', 
                aggfunc={'timestamp': lambda arr: (arr.max() - arr.min()),
                        'rating': 'count'}
                )

In [22]:
user_lifetime = rating_pivot.loc[(rating_pivot.rating > 100) , 'timestamp'].mean()

In [23]:
from datetime import timedelta
print( timedelta(seconds = round(user_lifetime)) )

463 days, 21:28:27

## Задание 4

###текст

In [24]:
# комментарий эксперта
'''

'''

'\n\n'

In [25]:
'''
Задание 4

Дана статистика услуг перевозок клиентов компании по типам 
(см. файл “Python_13_join.ipynb” в разделе 
Материалы для лекции «Продвинутый pandas» 
---- Ноутбуки к лекции «Продвинутый pandas»).

Необходимо сформировать две таблицы:

таблицу с тремя типами выручки 
для каждого client_id без указания адреса клиента

аналогичную таблицу по типам выручки 
с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц 
данные не должны теряться.

'''

'\nЗадание 4\n\nДана статистика услуг перевозок клиентов компании по типам \n(см. файл “Python_13_join.ipynb” в разделе \nМатериалы для лекции «Продвинутый pandas» \n---- Ноутбуки к лекции «Продвинутый pandas»).\n\nНеобходимо сформировать две таблицы:\n\nтаблицу с тремя типами выручки \nдля каждого client_id без указания адреса клиента\n\nаналогичную таблицу по типам выручки \nс указанием адреса клиента\n\nОбратите внимание, что в процессе объединения таблиц \nданные не должны теряться.\n\n'

###программа

In [26]:
import pandas as pd

#### Дано:

In [27]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
# rzd

In [28]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
# auto

In [29]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
# air

In [30]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
# client_base

####простой вар

In [31]:
%%time
revenue = client_base[['client_id']].merge(rzd, how='outer', on='client_id').merge(auto, how='outer', on='client_id').merge(air, how='outer', on='client_id')
print(revenue)
revenue_addr = client_base.merge(rzd, how='outer', on='client_id').merge(auto, how='outer', on='client_id').merge(air, how='outer', on='client_id')
print(revenue_addr)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0
   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0
CPU times: user 20.4 ms, sys: 26 µs, total: 20.5 ms
Wall time: 19.7 ms

#### Вариант с функцией

In [32]:
%%time

trans_list = [client_base, rzd, auto, air]

def table_merge(table_list, on_col) :
    result = table_list[0]
    for table in table_list[1:] :
        result = result.merge(table, how='outer', on=on_col)
    return result

clients_revenue_addr = table_merge(trans_list, 'client_id')
clients_revenue = clients_revenue_addr.drop('address', axis=1)
print(clients_revenue)
print(clients_revenue_addr)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0
   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0
CPU times: user 20.9 ms, sys: 1 ms, total: 21.9 ms
Wall time: 21.1 ms

####рабочий вар

In [33]:
%%time

trans_list = [rzd, auto, air]

revenue = client_base[['client_id']]

for trans in trans_list :
    revenue = revenue.merge(trans, how='outer', on='client_id')

clients_revenue_addr = revenue

revenue = client_base#[['client_id']]

for trans in trans_list :
    revenue = revenue.merge(trans, how='outer', on='client_id')

clients_revenue = revenue
print(clients_revenue)
print(clients_revenue_addr)

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0
   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0
CPU times: user 27.1 ms, sys: 1.94 ms, total: 29 ms
Wall time: 28.8 ms

# Теория: оптимизация, сводные, фильтры (.loc), строковые методы, формы слов, объединение таблиц

## Про pandas, ключи и индексы

###Задача - определить есть ли в наборе значений заданное

In [34]:
data_list = list(range(10000))

In [35]:
data_list[:5]

[0, 1, 2, 3, 4]

In [36]:
if 5000 in data_list:
    print('Ура нашел!')

Ура нашел!

Время поиска зависит от того какой именно элемент вы ищете: первый, из середины или в конце

In [37]:
%%time

for _ in range(10**5):
    9000 in data_list

### Заменим список на множество

In [38]:
set([1, 2, 2, 2, 3])

{1, 2, 3}

In [39]:
data_set = set(range(10000))

In [40]:
type(data_set)

set

In [41]:
%%time

for _ in range(10**5):
    9000 in data_set

CPU times: user 12 ms, sys: 1 ms, total: 13 ms
Wall time: 14.4 ms

### Усложним задачу - в таблице из пяти столбцов найти нужную строчку.

In [42]:
import pandas as pd

In [43]:
table = pd.read_csv('data.tsv', sep='\t')
table.head()

FileNotFoundError: ignored

In [ ]:
table[(table.date=='2020-12-06') & (table.category==70) & (table.campaign_id==3) & (table.slice==3)]

In [ ]:
%%time

for _ in range(10**4):
    table[(table.date=='2020-12-06') & (table.category==70) & (table.campaign_id==3) & (table.slice==3)]

In [ ]:
len(table)

### Аналогичный расчет для списков

In [ ]:
with open('data.tsv') as f:
    next(f)
    table = [x.strip().split('\t') for x in f.readlines()]

In [ ]:
table[:2]

In [ ]:
line_to_search = ['2020-12-06', '70', '3', '3']

In [ ]:
%%time

for _ in range(10**4):
    [x for x in table if x[:4] == line_to_search]

### Можно побыстрее? Преобразуем список в словарь.

In [ ]:
tuple_to_search = ('2020-12-06', '70', '3', '3')

In [ ]:
%%time
dict_ = {}

for line in table:
    key = tuple(line[:4])
    value = line[4]
    
    dict_[key] = value

In [ ]:
dict_[('2020-12-06', '70', '3', '3')]

In [ ]:
%%time

for _ in range(10**4):
    dict_[tuple_to_search]

## Что будет
- сводные таблицы
- фильтры и вычисления с помощью метода loc
- фильтрация пустых значений через isnull
- время в pandas
- строковые методы
- немного про учет форм слов

## Сводные таблицы
Прям как в экселе

In [ ]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

### Вопрос аналитику
Какие оценки поставил пользователь №1 и в каком количестве?

Что сделаем:
1. Фильтруем датафрейм ratings для userId = 1
2. Считаем для этого пользователя сколько он выставил единиц, двоек итд

Как это сделать для всех пользователей сразу:

In [ ]:
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0).head()

In [ ]:
# можно итоги добавить
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0, 
                    margins = True).head()

### Фильтры и вычисления с помощью loc и iloc

In [ ]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

In [ ]:
# метод loc позволяет выбрать строки и столбцы в соответствии с условиями
# двоеточие означает выбор всех значений

log.loc[:, ['user_id', 'region']].head()

In [ ]:
# iloc работает аналогично, но с указанием номера строки / столбца

log.iloc[:, [1, -3]].head()

In [ ]:
# пример фильтра на страну
# если столбцы не надо фильтровать, то второй параметр можно не указывать

log.loc[log.region == 'Russia'].head()

In [ ]:
# пример вычисления нового столбца с НДС для страны

log.loc[log.region == 'Russia', 'VAT'] = 1.2
log.head(10)

In [ ]:
# вариант с вычисляемым фильтром

log.loc[lambda row: row.region == 'Russia'].head(10)

### Скорость метода loc
Посчитаем средний рейтинг разных жанров. Метод merge взят из материалов следующего занятия ¯ \ _ (ツ) _ / ¯

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
joined = ratings.merge(movies, how='left', on='movieId')
joined.head()

In [ ]:
joined['Adventure'] = joined.apply(lambda row: row.rating if 'Adventure' in row.genres else None, axis=1)
joined.head()

Можно и через loc

In [ ]:
joined['Adventure'] = joined.loc[joined.genres.str.contains('Adventure'), 'rating']
joined.head()

Для замера времени сделаем эти операции для набор жанров

In [ ]:
genres = ['Adventure', 'Animation', 'Children', 'Drama', 'Musical', 'Thriller']

In [ ]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.apply(lambda row: row.rating if genre in row.genres else None, axis=1)

In [ ]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.loc[joined.genres.str.contains(genre), 'rating']

### Методы isnull, isna
Определение пустых или None значений. По сути одинаковые методы

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'value': [123, None, np.nan, np.NaN, np.NAN, 456]})
df

In [ ]:
# фильтр на пустые значения в столбце value

df.loc[pd.isnull(df.value), :]

### Дата и время в pandas

In [ ]:
log['date'] = pd.to_datetime(log['timestamp'], unit='s')
log.head()

In [ ]:
# столбец datetime64[ns] теперь имеет тип даты
log.info()

In [ ]:
# получим час визита

log['hour'] = log.date.dt.hour
log.head()

### Методы работы со строками

In [ ]:
stats = pd.read_csv('keywords.csv')
stats.head()

Проверка наличия подстроки в строке в питоне:

In [ ]:
'охотник' in 'каждый охотник желает знать...'

Аналог в pandas:

In [ ]:
stats[stats.keyword.str.contains('охотник')].head()

[Документация](https://www.geeksforgeeks.org/python-pandas-series-str-contains/)

Syntax: Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)

Parameter :
- pat : Character sequence or regular expression.
- case : If True, case sensitive.
- flags : Flags to pass through to the re module, e.g. re.IGNORECASE.
- na : Fill value for missing values.
- regex : If True, assumes the pat is a regular expression.

In [ ]:
# поиск одного из нескольких слов

stats[stats.keyword.str.contains('охотник|фильм|2016')].head()

### replace

In [ ]:
'отпуск начнется завтра'.replace('завтра', 'через месяц')

Аналог в pandas на запросах про сериалы:

In [ ]:
serial = stats[stats.keyword.str.contains('сериалы')]
serial.head()

In [ ]:
serial.keyword.str.replace('сериалы', 'книги').head()

### Как учитывать разное написание слов
Самое простое - методы upper и lower

In [ ]:
serial.keyword.str.upper().head()

In [ ]:
serial.keyword.str.lower().head()

### Что делать если нужно учесть формы написания слов?

In [ ]:
stats[stats.keyword.str.contains('рубл')].head()

Почему нельзя просто оставить str.contains('рубл'):

In [ ]:
non_financial_search = 'рубленая котлетка'

### Библиотека [pymystem](https://pypi.org/project/pymystem3/)

In [ ]:
from pymystem3 import Mystem

In [ ]:
search = 'курс гривны к рублю рубли рублях'

In [ ]:
m = Mystem()
lemmas = m.lemmatize(search)
lemmas

In [ ]:
' '.join(lemmas)

### Домашнее задание
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [ ]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

## Что будет
- сводные таблицы
- фильтры и вычисления с помощью метода loc
- фильтрация пустых значений через isnull
- время в pandas
- строковые методы
- немного про учет форм слов

## Сводные таблицы
Прям как в экселе

In [ ]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

### Вопрос аналитику
Какие оценки поставил пользователь №1 и в каком количестве?

Что сделаем:
1. Фильтруем датафрейм ratings для userId = 1
2. Считаем для этого пользователя сколько он выставил единиц, двоек итд

Как это сделать для всех пользователей сразу:

In [ ]:
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0).head()

In [ ]:
# можно итоги добавить
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0, 
                    margins = True).head()

### Фильтры и вычисления с помощью loc и iloc

In [ ]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

In [ ]:
# метод loc позволяет выбрать строки и столбцы в соответствии с условиями
# двоеточие означает выбор всех значений

log.loc[:, ['user_id', 'region']].head()

In [ ]:
# iloc работает аналогично, но с указанием номера строки / столбца

log.iloc[:, [1, -3]].head()

In [ ]:
# пример фильтра на страну
# если столбцы не надо фильтровать, то второй параметр можно не указывать

log.loc[log.region == 'Russia'].head()

In [ ]:
# пример вычисления нового столбца с НДС для страны

log.loc[log.region == 'Russia', 'VAT'] = 1.2
log.head(10)

In [ ]:
# вариант с вычисляемым фильтром

log.loc[lambda row: row.region == 'Russia'].head(10)

### Скорость метода loc
Посчитаем средний рейтинг разных жанров. Метод merge взят из материалов следующего занятия ¯ \ _ (ツ) _ / ¯

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
joined = ratings.merge(movies, how='left', on='movieId')
joined.head()

In [ ]:
joined['Adventure'] = joined.apply(lambda row: row.rating if 'Adventure' in row.genres else None, axis=1)
joined.head()

Можно и через loc

In [ ]:
joined['Adventure'] = joined.loc[joined.genres.str.contains('Adventure'), 'rating']
joined.head()

Для замера времени сделаем эти операции для набор жанров

In [ ]:
genres = ['Adventure', 'Animation', 'Children', 'Drama', 'Musical', 'Thriller']

In [ ]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.apply(lambda row: row.rating if genre in row.genres else None, axis=1)

In [ ]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.loc[joined.genres.str.contains(genre), 'rating']

### Упражнение
Какие варианты источников трафика есть в столбце traffic_source?

Создайте столбец traffic_type, в котором для источников 'yandex' и 'google' будет стоять значение 'organic'. А для остальных вариантов - NaN.

### Методы isnull, isna
Определение пустых или None значений. По сути одинаковые методы

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'value': [123, None, np.nan, np.NaN, np.NAN, 456]})
df

In [ ]:
# фильтр на пустые значения в столбце value

df.loc[pd.isnull(df.value), :]

### Упражнение
Для пустых значений в столбце traffic_type выставьте значение 'other'

### Дата и время в pandas

In [ ]:
log['date'] = pd.to_datetime(log['timestamp'], unit='s')
log.head()

In [ ]:
# столбец datetime64[ns] теперь имеет тип даты
log.info()

In [ ]:
# получим час визита

log['hour'] = log.date.dt.hour
log.head()

### Методы работы со строками

In [ ]:
stats = pd.read_csv('keywords.csv')
stats.head()

Проверка наличия подстроки в строке в питоне:

In [ ]:
'охотник' in 'каждый охотник желает знать...'

Аналог в pandas:

In [ ]:
stats[stats.keyword.str.contains('охотник')].head()

[Документация](https://www.geeksforgeeks.org/python-pandas-series-str-contains/)

Syntax: Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)

Parameter :
- pat : Character sequence or regular expression.
- case : If True, case sensitive.
- flags : Flags to pass through to the re module, e.g. re.IGNORECASE.
- na : Fill value for missing values.
- regex : If True, assumes the pat is a regular expression.

In [ ]:
# поиск одного из нескольких слов

stats[stats.keyword.str.contains('охотник|фильм|2016')].head()

### Упражнение
Отфильтруйте датафрейм stats по поисковым запросам, которые содержат строку "погода в" и упоминают один из городов: Москва, Новосибирск, Краснодар.

### replace

In [ ]:
'отпуск начнется завтра'.replace('завтра', 'через месяц')

Аналог в pandas на запросах про сериалы:

In [ ]:
serial = stats[stats.keyword.str.contains('сериалы')]
serial.head()

In [ ]:
serial.keyword.str.replace('сериалы', 'книги').head()

### Как учитывать разное написание слов
Самое простое - методы upper и lower

In [ ]:
serial.keyword.str.upper().head()

In [ ]:
serial.keyword.str.lower().head()

### Что делать если нужно учесть формы написания слов?

In [ ]:
stats[stats.keyword.str.contains('рубл')].head()

Почему нельзя просто оставить str.contains('рубл'):

In [ ]:
non_financial_search = 'рубленая котлетка'

In [ ]:
NLTK, Pymorhy, pymystem3

### Библиотека [pymystem](https://pypi.org/project/pymystem3/)

In [ ]:
from pymystem3 import Mystem

In [ ]:
search = 'курс гривны к рублю рубли рублях'

In [ ]:
m = Mystem()
lemmas = m.lemmatize(search)
lemmas

In [ ]:
' '.join(lemmas)

## Pandas и большие файлы

In [ ]:
import pandas as pd

### Упражнение
Для каждого пользователя user_id из файла sales_db.csv посчитайте самую дорогую покупку (в столбце cost)

## Объединение датафреймов

### Данные со слайдов

In [ ]:
visits = pd.DataFrame(
    {
        'user_id': [11, 22, 55, 11, 77],
        'source': ['ad', 'yandex', 'email', 'google', 'ad']
    }
)

visits = visits[['user_id', 'source']]
visits

In [ ]:
purchases = pd.DataFrame(
    {
        'user_id': [11, 22, 55, 11, 99],
        'category': ['Спорт', 'Авто', 'Дача', 'Спорт', 'Авто'],
    }
)

purchases = purchases[['user_id', 'category']]
purchases

In [ ]:
visits_grouped = visits.groupby('user_id').count()
visits_grouped.rename(columns={'source': 'visits'}, inplace=True)
visits_grouped

In [ ]:
visits.groupby('user_id').count().reset_index()

In [ ]:
purchases_pivot = purchases.pivot_table(index='user_id', columns='category', values='user_id', 
                                        aggfunc='size', fill_value=0)
purchases_pivot

In [ ]:
purchases_pivot.reset_index()

In [ ]:
visits_grouped.join(purchases_pivot)

### LEFT join
Каждой строчке в левой таблице ищет соответствие в правой

In [ ]:
visits_grouped.join(purchases_pivot, how='left')

### RIGHT join
Каждой строчке в правой таблице ищет соответствие в левой

In [ ]:
visits_grouped.join(purchases_pivot, how='right')

### Упражнение
Дана статистика:
- ID клиентов и их имена (датафрейм clients)
- статистика доходов (earnings)
- статистика расходов (spending)

Определите имена клиентов, расходы которых превышают доходы.

In [ ]:
# подсказка - по умолчанию в методе merge объединение НЕ left join

?pd.DataFrame.merge
?pd.DataFrame.join

In [ ]:
clients = pd.DataFrame(
    {
        'id': [43018, 48329, 51043, 74943, 75029],
        'name': ['Марков Илья', 'Зарицкая Елизавета', 'Благова Дарья', 'Слепова Елена', 'Гордецкий Максим'],
    }
)

clients

In [ ]:
earnings = pd.DataFrame(
    {
        'id': [51043, 48329, 74943, 75029, 43018],
        'debit': [34500, 12400, 89044, 5355, 19800],
    }
)

earnings

In [ ]:
spending = pd.DataFrame(
    {
        'id': [51043, 48329, 74943, 75029, 43018],
        'credit': [22990, 2500, 69880, 6000, 29000],
    }
)

spending

In [ ]:
# df = clients.merge(earnings,  on='id').merge(spending, on='id')

In [ ]:
df = spending.merge(earnings,  on='id').merge(clients,  on='id')

In [ ]:
df.loc[ df.credit > df.debit, 'name']

In [ ]:
print('Клиенты с задолженностями: ',', '.join( df.loc[ df.credit > df.debit, 'name'] ))

### INNER join
Оставляет строчки, которые есть в обеих таблицах

In [ ]:
visits_grouped.join(purchases_pivot, how='inner')

### Outer join
Оставляет все строчки

In [ ]:
visits_grouped.join(purchases_pivot, how='outer')

## Конкатенация таблиц

In [ ]:
a = pd.DataFrame({'date': ['2020-01-01', '2020-01-02', '2020-01-03'], 'value_a': [1, 2, 3]})
b = pd.DataFrame({'date': ['2020-01-01', '2020-01-02', '2020-01-03'], 'value_b': [3, 4, 5]})

In [ ]:
a

In [ ]:
b

In [ ]:
pd.concat([a, b])

In [ ]:
# объединение по горизонтали
pd.concat([a, b], axis=1)

### Дубликаты при объединении таблиц

In [ ]:
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
ratings.head()

In [ ]:
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()

In [ ]:
# ¯\_(ツ)_/¯

ratings.merge(movies, how='left', on='movieId')

In [ ]:
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies.head()

In [ ]:
ratings.merge(movies, how = 'left', on = 'movieId')

In [ ]:
ratings.merge(movies, how = 'right', on = 'movieId')

### Упражнение
Объедините датафреймы с визитами и покупками на сайте по ключу date. Обратите внимание, что в датафрейме визитов имеются дубликаты по дате.

In [ ]:
visits = pd.DataFrame(
    {'date': ['2019-11-01', '2019-11-01', '2019-11-02', '2019-11-02', '2019-11-03'], 
     'source': ['organic', 'paid', 'organic', 'paid', 'organic'], 
     'visits': [16825, 1952, 21890, 376, 19509]}
)

visits

In [ ]:
orders = pd.DataFrame(
    {'date': ['2019-11-01', '2019-11-02', '2019-11-03'],
     'orders': [198, 225, 201]}
)

orders

### Оптимизация хранения данных

In [ ]:
# 2.4mb
ratings = pd.read_csv('ml-latest-small/ratings.csv')

# 0.5mb
movies = pd.read_csv('ml-latest-small/movies.csv')
joined = ratings.merge(movies, how='left', on='movieId')

In [ ]:
joined.head()

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

In [ ]:
len(ratings)

In [ ]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

In [ ]:
len(movies)

In [ ]:
len(ratings) == len(joined)

In [ ]:
joined.to_csv('joined_ratings.csv', index=False)

In [ ]:
joined.head()

In [ ]:
logs = joined[['userId', 'movieId', 'rating']].head()

In [ ]:
len(joined[['movieId', 'title', 'genres']].drop_duplicates())

### Какой жанр имеет самые высокие рейтинги?

In [ ]:
import numpy as np

In [ ]:
genres = ['Drama', 'Action', 'Thriller']

In [ ]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

In [ ]:
len(ratings)

In [ ]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

In [ ]:
len(movies)

In [ ]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

In [ ]:
# рекомендуемая проверка на возможные дубликаты

len(ratings) == len(joined)

### Считаем рейтинг жанров

In [ ]:
# еще раз список жанров

genres = ['Drama', 'Action', 'Thriller']

In [ ]:
def genres_ratings(row):
    """Возвращает рейтинг, если он есть в списке жанров данного фильма"""
    
    return pd.Series([row['rating'] if genre in row['genres'] else np.NaN for genre in genres])

In [ ]:
%%time
joined[genres] = joined.apply(genres_ratings, axis=1)

In [ ]:
def genres_ratings_version_2(row):
    """Возвращает рейтинг, если он есть в списке жанров данного фильма"""
    
    for genre in genres:
        if genre in row.genres:
            row[genre] = row.rating
    
    return rating

In [ ]:
joined[genres] = joined.apply(genres_ratings, axis=1)
joined.head()

### Упражнение
Выведите средний рейтинг каждого жанра из списка genres

### К домашнему заданию, задача 2
Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

In [ ]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

In [ ]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

In [ ]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base